[user]
	name = Zak B. Elep
	email = zakame@zakame.net
[include]
        path = ~/.gitconfig.local
[color]
	ui = auto
[merge]
        conflictStyle = diff3
[diff]
        algorithm = minimal
        compactionHeuristic = true
        indentHeuristic = true
[core]
	autocrlf = input
[rerere]
	enabled = true
[init]
        defaultBranch = master
